.title {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* margin-bottom: 4rem; */
}
.active-title {
  color: var(--bg-orange) !important;
  border-bottom: 1px solid var(--bg-orange);
}
.title p {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 3rem;
}

/* carousel */
.carousel {
  text-align: start;
}

.carousel .bx.bx-chevron-right {
  font-size: 46px;
  padding-right: 20px;
  color: white;
  transition: all 0.4s ease-in-out;
}

.carousel .bx.bx-chevron-left {
  font-size: 50px;
  padding-left: 20px;
  color: white;
  transition: all 0.5s ease-in-out;
}

.carousel .bx.bx-chevron-right:hover,
.carousel .bx.bx-chevron-left:hover {
  transform: scale(1.4);
}

.carousel:hover .bx.bx-chevron-right,
.carousel:hover .bx.bx-chevron-left {
  transform: scale(1.4);
}
.customer__carousel {
  top: 40%;
}
.carousel-button {
  text-align: center;
  border: 2px solid #323232;
  margin: 1rem auto;
  width: 10rem;
  border-radius: 4px;
}
.carousel-button a {
  display: block;
  width: 100%;
  color: var(--text);
  font-weight: 500;
  padding: 1rem;
}
.carousel-button a:hover {
  background-color: var(--bg-orange);
  color: var(--text-color);
  border-radius: 4px;
}
